.containerSidebarActive {
    display: flex;
    height: 100%;
    width: 300px;
    position: absolute;
    background-color: #2A2E2A;
    justify-content: space-between;
    align-items: start;
}

.buttomSidebarActive {
    cursor: pointer;
    margin: 10px;
}
