.container-cards {
    display: flex;
    height: 550px;
    width: 280px;
    background-color: #2A2E2A;
    border-radius: 15px;
    margin-top: 55px;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column; 
    width: 230px;
    height: 135px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.84);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 10px;
    margin-left: 25px;
    margin-top: 20px;
}

.titleTask {
    color: black;
    font-size: 17px;
}

.subtitlesTasks {
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.cardFather {
    width: 280px;
    height: 500px;
    background-color: #2A2E2A;
    border-radius: 15px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #888888 #2A2E2A;
    position: relative;
}


.cardFather::-webkit-scrollbar {
    width: 8px;
    border-radius: 15px;
}

.cardFather::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 15px;
}

.cardFather::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
    border-radius: 15px;
}

.cardFather::-webkit-scrollbar-track {
    background-color: #2A2E2A;
    border-radius: 15px;
}

.scrollContainer {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.title2 {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: #FF6B00;
}

.title3 {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: rgba(0, 163, 255, 1);
}

.title {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: #008000;
}

.bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #2A2E2A;
    border-radius: 15px;
}

.icon-add {
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s; /* Adiciona uma transição suave */
}

.icon-add:hover {
    transform: scale(1.2); /* Aumenta o tamanho em 20% */
}

.delete-buttom {
    display: flex;
    position: absolute;
    left: 215px;
    margin-top: 5px;
    cursor: pointer;
    transition: transform 0.3s; /* Adiciona uma transição suave */
}

.delete-buttom:hover {
    transform: scale(1.2); /* Aumenta o tamanho em 20% */
}

