.container {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.cards {
    margin: 20px;
}

.titulo {
    display: flex;
    position: absolute;
    color: white;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 22px;
    margin-left: 85px;
    margin-top: 5px;
}

.containerCards {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: row;
}

.sidebarContainer {
}