.containerSidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60px;
    background-color: #2A2E2A;
    justify-content: space-between;
    align-items: center;
}

.buttomSidebar {
    display: flex;
    cursor: pointer;
    margin-top: 10px;
}

.iconLogout {
    transform: rotate(270deg);
    cursor: pointer;
    margin-bottom: 10px;
}
